body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.smurfs {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  margin-bottom: 2rem;
}

.smurf {
  border: 2px crimson solid;
  margin: 1rem;
  text-align: center;
  padding: 1rem;
}